*

!.github/
!assets/
!.editorconfig
!.gitattributes
!.gitignore
!Makefile
!.clang-format
!LICENSE
!README.md

!include/
!include/**/
!src/
!src/**/
!scripts/

!*.md
!*.svg
!*.png
!*.nix
!*.lock
!*.sh
!*.c
!*.h
!*.cpp
!*.hpp
!*.cc
!*.hh
!*.cxx
!*.hxx
!*.cu
!*.cuh


!*.md
!*.svg
!*.png
!*.nix
!*.lock
!*.sh
!*.c
!*.h
!*.cc
!*.hh
!*.cpp
!*.hpp
!*.cc
!*.hh
!*.cxx
!*.hxx
!*.cu
!*.cuh
